/*    Header    */
header .container-fluid {
  background: url(../../images/home.jpg) no-repeat bottom;
  background-size: cover;
  padding: 0;
  width: 100%;
  height: 500px;
}

.header {
  text-align: center;
  padding-top: 250px;
}

.header h1 {
  padding-top: 5px;
  width: 300px;
  color: white;
  background-color: rgba(52, 58, 64, 0.8);
}

/*    Navbar    */
nav {
  font-weight: bold;
}


/*    Background Section    */
#picture1 {
  background: url(../../images/picture1.jpg) no-repeat center center fixed;
}

#picture2 {
  background: url(../../images/picture2.jpg) no-repeat center center fixed;
}

#picture3 {
  background: url(../../images/picture3.jpg) no-repeat center center fixed;
}

#picture1, #picture2, #picture3 {
  opacity: 0.5;
}

/*    Section   */
section:target {
  padding-top: 5em;
  margin-top: -2em;
}

section {
  padding-top: 30px;
  height: 600px;
}

section h1 {
  padding-bottom: 30px;
  text-align: center;
}

/*    footer  */
footer {
  background-color: #343A40;
  height: 75px;
}
